<nav role='navigation'>
  <div id='menu-toggle'>
    <input id='side-menu-input' class='' type='checkbox' />
    <span></span>
    <span></span>
    <span></span>

    <ul id='menu'>
      <a href='/home'><li>Home</li></a>
      <a href='/about'><li>About</li></a>
      <a href='/works'><li>Works</li></a>
      <a href='/gallery'><li>Gallery</li></a>
    </ul>
  </div>
</nav>