<main>
  <section>
    <h2>About</h2>

    <h5>Early life</h5>
    <p class='text-body'>
      Early Years John Ronald Reuel Tolkien's early life was marked by loss.
      Born in Bloemfontein, South Africa, on January 3, 1892, Tolkien lost his
      father at age four. Life in industrial Birmingham, England, contrasted
      dramatically with his exotic birthplace.
    </p>
    <p class='text-body'>
      When the family converted to Catholicism, a faith that Tolkien followed
      throughout his life, relationships with his extended family suffered. When
      he was twelve, his mother died of diabetes, at the time an untreatable
      illness.
    </p>
    <p class='text-body'>
      At sixteen, Tolkien met Edith Bratt, a fellow orphan who would later
      become his wife, but his guardian, Father Francis Morgan, ordered him not
      to see her until his twenty-first birthday.
    </p>
    <h5>Scholar</h5>
    <p class='text-body'>
      Tolkien's first job after the war was researching word origins for the
      Oxford English Dictionary. He soon found a position as Reader of English
      language at the University of Leeds in 1920, and in 1924, the university
      appointed him Professor.
    </p>
    <p class='text-body'>
      In 1925, he returned to Oxford University as Professor of Anglo-Saxon at
      the remarkably young age of 33. Tolkien was an excellent teacher, and his
      dramatic lectures on Beowulf were legendary. His academic writing includes
      a translation of Sir Gawain and the Green Knight and his landmark essays
      "Beowulf: The Monsters and the Critics" and "On Fairy-Stories."
    </p>
    <p class='text-body'>
      In 1945, he became Merton Professor of English Language and Literature at
      Oxford, and he continued in that position until his retirement.
    </p>
    <h5>Fantasy and Fame</h5>
    <p class='text-body'>
      While he was grading exam papers during the summer holiday to supplement
      his professor's salary, Tolkien wrote on a fortuitously blank page what
      became one of the most well-known opening sentences in English literature:
      "In a hole in the ground there lived a hobbit." In trying to answer, for
      himself, the question of what exactly a hobbit might be, Tolkien composed
      the delightful story of Bilbo Baggins, a stay-at-home little hobbit who
      goes off on an adventure and comes back with both greater maturity and a
      magic ring.
    </p>
    <p class='text-body'>
      In 1937, the story was published by Allen and Unwin as The Hobbit. Much to
      Tolkien's surprise, The Hobbit became a successful children's book,
      receiving favorable reviews on both sides of the Atlantic. Naturally, the
      publisher requested a follow up.
    </p>
    <p class='text-body'>

      To their dismay, it took Tolkien seventeen years to produce the requested
      sequel (with another world war intervening), and the result was not
      another delightful children's story, but an epic saga of heroic struggle
      against evil that was over a thousand pages long. Nevertheless, The Lord
      of the Rings was published in three volumes in 1954 and 1955. The books
      received mixed reviews, ranging from the glowing words of C.S. Lewis and
      W.H. Auden to a complete dismissal by Edmund Wilson.
    </p>
  </section>
</main>