<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/main.css"/>
    <script src="/controller/main.js" defer></script>
    <title>J.R.R.</title>
  </head>
  <body>
    <nav role="navigation">
      <div id="menu-toggle">
        <input id="side-menu-input" class="" type="checkbox" />
        <span></span>
        <span></span>
        <span></span>

        <ul id="menu">
          <a href="/home"><li>Home</li></a>
          <a href="/about"><li>About</li></a>
          <a href="/works"><li>Works</li></a>
          <a href="/gallery"><li>Gallery</li></a>
        </ul>
      </div>
    </nav>
    <main>
      <section>
        <p class="subtitle">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo nesciunt
          nisi explicabo nemo itaque, ipsum aliquam reprehenderit, unde
          veritatis excepturi sequi pariatur, voluptas officiis quae quam modi
          et aut mollitia? Reprehenderit soluta expedita natus est culpa facilis
          molestias sapiente sit sunt non cumque incidunt nesciunt mollitia
          accusamus corporis, ex doloribus accusantium aperiam perferendis
          provident architecto cupiditate ipsa voluptatem eveniet? Aliquid! Quam
          at nobis repellat. Eius quas ducimus nisi, incidunt sed hic ut
          voluptas id impedit tempora quasi, reprehenderit repudiandae aliquid
          ab architecto nemo. Nam vitae magnam non sed! Non, dolorem!
          Dignissimos vero laudantium officiis! A delectus quasi nesciunt
          architecto id voluptates iste ipsum repudiandae, ducimus sit rerum
          expedita nostrum culpa sequi neque, dolores ab? Officia debitis dolor
          expedita laudantium! Repellat.
        </p>
      </section>
    </main>
  </body>
</html>
