<main>
  <section id='home-section'>
    <h1><span class='title-letter'>J</span><span
        class='title-letter'
      >.</span><span class='title-letter'>R</span><span
        class='title-letter'
      >.</span><span class='title-letter'>R</span><span
        class='title-letter'
      >.</span>
      Tolkien</h1>
    <p class='subtitle'>
      Renowned fantasy writer turned into legend.

    </p>
    <p class='subtitle'>

      Best known for authoring 'The Hobbit' and 'The Lord of the Rings' trilogy.
    </p>
    <img src='/imgs/sign.png' alt='' class="signature"/>
  </section>
</main>