<main>
  <section id='home-section'>
    <h1>J.R.R. Tolkien</h1>
    <p class='subtitle'>
      Renowned fantasy writer turned into legend.

    </p>
    <p class='subtitle'>

      Best known for authoring 'The Hobbit' and 'The Lord of the Rings' trilogy.
    </p>
  </section>
</main>