<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/main.css" />
    <script src="/controller/main.js" defer></script>
    <title>J.R.R.</title>
  </head>
  <body>
    <nav role="navigation">
      <div id="menu-toggle">
        <input id="side-menu-input" class="" type="checkbox" />
        <span></span>
        <span></span>
        <span></span>

        <ul id="menu">
          <a href="/home"><li>Home</li></a>
          <a href="/about"><li>About</li></a>
          <a href="/works"><li>Works</li></a>
          <a href="/gallery"><li>Gallery</li></a>
        </ul>
      </div>
    </nav>
    <main>
      <section>
        <h1>Main X. Title One</h1>
        <p class="subtitle">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam non
          illo fugiat consequuntur doloremque repudiandae nulla
        </p>
      </section>
    </main>
  </body>
</html>
