<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/main.css" />
    <title>Document</title>
  </head>
  <body>
    <nav role="navigation">
      <div id="menuToggle">
        <!--
        A fake / hidden checkbox is used as click reciever,
        so you can use the :checked selector on it.
        -->
        <input type="checkbox" />
        <span></span>
        <span></span>
        <span></span>

        <ul id="menu">
          <a href="/home.html"><li>Home</li></a>
          <a href="/about.html"><li>About</li></a>
          <a href="/works.html"><li>Works</li></a>
          <a href="/gallery.html"><li>Gallery</li></a>
        </ul>
      </div>
    </nav>
    <main>
      <section>
        <h1>J.R.R. Tolkien</h1>
      </section>
    </main>
  </body>
</html>
